/* header css */
h1{
    font-family: cursive;
}
#nav-1,#footer{
    background-image: linear-gradient(135deg, rgb(223, 11, 11), rgb(4, 40, 243));
    animation: home 5s  infinite;
    background-size: 180% 180%;  
}
@keyframes home {
     0% {
        background-position: 10% 40%;
    }
     50% {
        background-position: 40% 100%;
    }
    100% {
        background-position: 100% 10%;
    }
}
#nav-heading{
    margin: 3px 0px -5px 0px;
    font-weight: bolder;
}
#nav-para{
    font-family: cursive;
   font-size: .8em;
   margin: -5px 0px 0px 0px ;
}
#nav-search-div{
   margin: 25px 0px 0px 0px;
   height: 30px;
}
#nav-search-box{
    height: 30px;
    border-radius: 0px 0px 0px 15px;
}
#nav-search-button{
    border-radius: 0px 15px 0px 0px;
}
#nav-login-div{
    height: 60px;
}
#nav-login-button{
    height: 35px;
    margin-top: -10px;
    border: none;
    border-radius: 5px; 
}

@media only screen and (min-width:575px) {
    #navbar,#navbutton,#nav-search-div-s,#nav-login-div-s{
        display: none;
    }
}
@media only screen and (max-width:575px) {
    #nav-search-div,#nav-login-div{
        display: none;
    }
    #nav-search-div{
        margin-left: 5%;
    }
    #nav-login-div{
      margin-left: 5%;
    }
    #nav-h{
    margin-bottom: -2%;
}
}
.nav-bottom{
    display: inline-block;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}
#nav-2 ul{
    height: fit-content;
    box-sizing: border-box;
    list-style: none;
}
.nav-link{
     margin: 0px 10px 0px 10px;
}
.nav-link:hover{
    font-weight: bold;
}
.footer-ul h2{
    color: rgb(255, 0, 0);
    padding-top: 20px;
}
.footer-ul{
    padding-left: 0px;
}
.footer-ul li{
    list-style: none;
    text-align: center;
    margin-top: 10px;
}
#footer-login:hover{
    border: none;
}
.footer-ul li a{
   text-decoration: none;
   color: beige;
   font-size: 1.2rem;
}
.footer-ul li a:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.2);
}
/* cart css */
#cart-content-div{
    margin: 0%;
}
#cart-content-div p{
    margin: 0%;
}

/* home css */
#home{
 margin: 0px 0px 0px 0px;  
}
.home-2{
    margin: 0px -24px 0px -24px;
}
#home-carousel-1{
  justify-content: center;
  text-align: center;
  background-image: url(https://img.freepik.com/free-photo/shopping-concept-close-up-portrait-young-beautiful-attractive-redhair-girl-smiling-looking-camera_1258-119094.jpg?w=826&t=st=1696183897~exp=1696184497~hmac=8cd48b7c43ced02b6bdb3d0463aee817f46bc5c7b9914896d0a1e3f2aeb4c5d0);
  background-repeat: no-repeat;
  background-size: cover;
}
#home-carousel-1 h1{
    margin-top: 7%;
      font-size: 5em;
      color: darkorange;
}
#home-carousel-1 p{
    font-size: 2rem;
    margin-bottom: 6%;
}

#home-carousel-2{
    background-image: url(https://static.vecteezy.com/system/resources/previews/016/759/209/non_2x/asian-woman-in-national-dress-of-chinese-new-year-holding-red-wood-fan-with-smiled-and-show-hand-to-present-and-your-product-in-soft-isolated-background-celebrated-in-attractive-culture-of-china-free-photo.JPG);

    background-repeat: no-repeat;
    background-size: cover;
}
#best-deal{
    background-color: rgb(255, 183, 2);
    display: inline-block;
    width: 200px;
    height: 30px;
    transform: rotate(135deg);
    transform: skew(135deg);
    color: red;
    
}
#home-carousel-3{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-simple-trend-clothing-store-background-home-image_148028.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
}
#home-carousel-3-1{
    margin: 8% 8%;
   justify-content: center;
    text-align: center;
    animation: c-3-border 7s infinite;
   
}
@keyframes c-3-border{
    1% {
        border:5px solid rgb(248, 11, 11);
    }

    20% {
        border:5px solid rgb(29, 255, 9);
    }


    40% {
        border:5px solid rgb(111, 1, 145);
    }


    60% {
        border:5px solid rgb(0, 106, 138);
    }

    80% {
        border:5px solid rgb(255, 187, 0);
    }

    100% {
        border:5px solid rgb(14, 10, 255);
    }
}
#h2-h5{
    margin: 5% 5%;
}
#home-carousel-3-1 h2{
    font-size: 5em;
    animation: sandeep 7s infinite;
}

@keyframes sandeep {
    0% {
        color: rgb(248, 11, 11);
    }

    10% {
        color: rgb(255, 230, 0);
    }

    20% {
        color: rgb(29, 255, 9);
    }

    30% {
        color: rgb(0, 153, 255);
    }

    40% {
        color: rgb(193, 5, 250);
    }

    50% {
        color: rgb(255, 0, 179);
    }

    60% {
        color: rgb(0, 195, 255);
    }

    70% {
        color: rgb(255, 140, 9);
    }

    80% {
        color: rgb(255, 187, 0);
    }

    90% {
        color: rgb(198, 10, 255);
    }
}
.card{
    margin: 10px 0px;
}
.card img{
    height: 18rem;
}
/* hover css */

.card:hover{
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    transform: scale(1.02);
}
.btn:hover{
    box-shadow: 0px 0px 20px rgb(117, 114, 114);
    transform: scale(1.02);
    font-weight: bold;
}
#login-div{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230705/pngtree-shimmering-abstract-shopping-cart-interface-against-blue-background-a-modern-take-image_3732186.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#form-div{
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
}
#email,#password{
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
    border: none;
    color: aliceblue;
}
#form-div:hover,#email:hover,#password:hover{
    transform: scale(1.02);
}

#contact-form p{
    margin: 10px 0px 0px 0px;
}

#contact-img{
    margin-top: 20px;
    animation: c-img 5s infinite;
}
@keyframes c-img{
    0%{transform: rotate(360deg);
   transition: 2s;
}
}